@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

body {
  min-width: 0px;
  text-align: center;
}

.wrapper {
  @include inline-block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

#footer{
  border-top: #CCC solid 1px;
  position:fixed;
  height:50px;
  background-color: white;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  table {
    width: 100%;
    td {
      width: 33%;
    }
  }
  .bottom-nav {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    @include inline-block;
    @include one-line(50px);
    font-size: 18px;
  }
  a {
    text-decoration: none;
    background-color: white;
    color: $weixin-bg;
  }
  span {
    background-color: #EEE;
    color: $weixin-bg;
  }
  .not-right-td {
    border-right: #CCC solid 1px;
  }
}

