@import 'common';
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icons/homeworks/*.png";

#book-bar {
  width: 100%;
  height: 85px;
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px solid #E5E5E5;
  table {
    padding: 10px;
    width: 965px;
    margin-left: auto;
    margin-right: auto;
    th {
      width: 100px;
      height: 40px;
      text-align: center;
      margin: 0px;
    }
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      @include inline-block;
      width: 60px;
      text-align: center;
      cursor: pointer;
      &.selected {
        color: $efblue;
        cursor: auto;
      }
    }
  }
}

#left-part {
  padding-top: 20px;
  position: absolute;
  top: 127px;
  left: 15px;
  bottom: 0px;
  width: 270px;
}

#right-part {
  position: absolute;
  top: 127px;
  bottom: 0px;
  right: 0px;
  left: 200px;
  min-width: 800px;
}

#left-part {
  .sub-folder {
    margin-left: 16px;
  }
  .caret-wrapper {
    position: absolute;
    height: 30px;
    width: 10px;
    @include inline-block;
  }
  %caret {
    @include inline-block;
    position: absolute;
    border-width: 6px;
    border-style: solid;
  }
  b.open {
    @extend %caret;
    top: 8px;
    border-color: black transparent transparent transparent;
  }
  b.closed {
    @extend %caret;
    top: 4px;
    left: 2px;
    border-color: transparent transparent transparent black;
  }
  .root {
    display: none;
  }
  .icon {
    margin-left: 15px;
    @include inline-block;
  }
  .name-node {
    position: relative;
    &.selected {
      span {
        color: #D54937;
      }
    }
    &:hover {
    background-color: #EEEEEE;
    }
    cursor: pointer;
  }
}