- content_for :head do
  = stylesheet_link_tag "pages/account/registrations-bundle", :media => "all"
  = javascript_include_tag "pages/account/registrations-bundle"

.container
  .row
    #reset-email-tip.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
      - if @retval[:success]
        %p= "您的邮箱地址已经修改为 " + @@retval[:email]
      - else
        %p= "抱歉，链接错误或者过时"
