- content_for :head do
  = stylesheet_link_tag "pages/teacher/students/index-bundle", :media => "all"
  = javascript_include_tag "pages/teacher/students/index-bundle"
  :javascript
    window.cid = "#{@cid}"
    window.keyword = "#{@keyword}"

- content_for :teacher_content do
  #student-index
    #left-part
      .all-students
        .class-link-wrapper
          %a.student-link{ href: teacher_students_path } 所有学生
      %ul#class-list
        - @classes[0..-2].each do |c|
          %li
            .class-link-wrapper
              %a.student-link{href: "javascript:void(0);", data: {id: c.id.to_s}}= c.name
              %a.remove-link.hide 删除
        %li
          .class-link-wrapper
            %a.student-link{href: "javascript:void(0);", data: {id: @classes[-1].id.to_s}}= @classes[-1].name
        %li
          .new-class-wrapper
            %a.new-class{href: "javascript:void(0);"} 新建分组
    #right-part
      #summary
        %span.class_name
        %span.students_number
        #search-box
          %input#input-search{:placeholder => "姓名、邮箱或者手机号", :type => "text", :value => params[:keyword]}
            %span
              %button#btn-search.btn.btn-default.btn-sm{:type => "button"} 搜索
      #table-wrapper

  #newClassModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 创建新分组
        .modal-body
          %p
            %span 请为其输入名称
          %p
            %input.target.form-control{type: "text", value: ""}/
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #moveStudentModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 移动
        .modal-body
          %p
            %span 将
            %span.bold.target-name
            %span 移至
          %p
            .class_select_list
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

  #copyStudentModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 复制
        .modal-body
          %p
            %span 将
            %span.bold.target-name
            %span 复制到
          %p
            .class_select_list
        .modal-footer
          %a.btn.btn-primary.ok{href: "#", "aria-hidden" => "true"} 确定
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
