@import 'common';
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icons/homeworks/*.png";

#compose-index {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#wrap {
  min-width: 900px;
}

#title-bar {
  .icon {
    margin-left: 15px;
    @include size(20px, 20px);
    @include inline-block;
  }
  width: auto;
  height: 50px;
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-top: 1px solid #E5E5E5;
  #wrapper {
    width: 965px;
    margin-left: auto;
    margin-right: auto;
  }
  #title-wrapper {
    float: left;
    width: 400px;
    #title {
      margin-top: 0;
      margin-bottom: 0;
      @include inline-block;
      @include one-line(50px);
      float: left;
      font-size: 1.4em;
    }
  }
  #operation-wrapper {
    float: right;
    ul {
      list-style: none;
      li {
        @include one-line(50px);
        margin-left: 10px;
        a {
          text-decoration: none;
          color: black;
          .confirm {
            @include homeworks-sprite(confirm20);
          }
          .cancel {
            @include homeworks-sprite(cancel20);
          }
          .clear {
            @include homeworks-sprite(clear20);
          }
          &:hover {
            .confirm {
              @include homeworks-sprite(confirm20_hover);
            }
            .cancel {
              @include homeworks-sprite(cancel20_hover);
            }
            .clear {
              @include homeworks-sprite(clear20_hover);
            }
            span {
              color: $efblue;
            }
          }
        }
        float: right;
      }
    }
  }
}


#content-background {
  width: 100%;
  background-color: #EEEEEE;
  #paper-top, #paper-bottom {
    width: 100%;
    height: 50px;
    background-color: #EEEEEE;
    .paginator {
      width: 965px;
      margin-left: auto;
      margin-right: auto;
      .pagination {
        float: right;
      }
    }
  }
  #paper {
    margin-left: auto;
    margin-right: auto;
    width: 965px;
    background-color: white;
    .content-div {
      position: relative;
      background-color: white;
      padding: 40px 80px 40px 80px;
      border-bottom: 1px solid #DDDDDD;
      .question-content-div {
        font-size: 1.3em;
        span {
          white-space: pre-wrap;
        }
        .question-items p {
          margin-left: 10px;
        }
        .question-answer {
          margin-top: 10px;
        }
      }
      table.line4 {
        width: 100%;
        tr {
          width: 25%;
        }
      }
      table.line2 {
        width: 100%;
        tr {
          width: 50%;
        }
      }
      .question-operation-div {
        position: absolute;
        top: 20px;
        right: 80px;
        padding: 5px;
        background-color: white;
        .btn {
          background-color: lighten(#E6E6E6, 5%);
          &:hover {
            background-color: #E6E6E6;
            border-color: #E6E6E6;
          }
        }
      }
    }
  }
}