@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';


.icon {
  @include size(24px, 24px);
  @include inline-block;
}

.course-name {
  border-bottom: #E5E5E5 solid 1px;
  font-size: 1.2em;
  text-align: center;
  @include one-line(80px);
  position: relative; 
}

.one-lesson-wrapper {
  position: relative;
}

.one-lesson {
  height: 80px;
  border-bottom: #E5E5E5 solid 1px;
  .left-part {
    margin-left: 2%;
    a {
      font-size: 1.2em;
      cursor: pointer;
      display: block;
      @include one-line(80px);
      color: $coach-bg;
      text-decoration: none;
      text-align: center;
      &:hover {
        text-decoration: none;
        color: $coach-bg;
      }
    }
  }
}
