@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';


.icon {
  @include size(24px, 24px);
  @include inline-block;
}

.one-course-wrapper {
  position: relative;
}

.one-course {
  height: 80px;
  border-bottom: #E5E5E5 solid 1px;
  .left-part {
    float: left;
    margin-left: 2%;
    a {
      font-size: 1.2em;
      cursor: pointer;
      display: block;
      @include one-line(80px);
      color: $coach-bg;
      text-decoration: none;
      text-align: center;
      &:hover {
        text-decoration: none;
        color: $coach-bg;
      }
    }
  }
  .right-icon {
    height: 100%;
    float: right;
    a {
      text-decoration: none;
      padding-top: 28px;
      padding-bottom: 28px;
      padding-right: 20px;
      padding-left: 20px;
      .slide-left {
        @include weixin-sprite(slide-left24);
      }
    }
  }
}

.operation-div {
  background-color: white;
  border-bottom: #E5E5E5 solid 1px;
  position: absolute;
  display: none;
  right: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 80px;
  .left-icon {
    height: 100%;
    float: left;
    width: 10%;
    a {
      text-decoration: none;
      padding-top: 28px;
      padding-bottom: 28px;
      padding-right: 20px;
      padding-left: 10px;
      .slide-right {
        @include weixin-sprite(slide-right24);
      }
    }
  }

  .operation-table {
    width: 90%;
    td {
      width: 25%;
      text-align: center;
    }
    a {
      i {
        margin-top: 10px;
      }
      span {
        margin-top: 10px;
        display: block;
        height: 30px;
      }
      text-decoration: none;
      color: $coach-bg;
      .exercise {
        @include weixin-sprite(exercise24);
      }
      .report {
        @include weixin-sprite(report24);
      }
    }
  }
}

