@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

body {
  text-align: center;
}

.qr-code-image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  @include size(24px, 24px);
  @include inline-block;
}

.qr-code-image-wrapper {
  border-bottom: #E5E5E5 solid 1px;
}

.one-course-wrapper {
  position: relative;
}

.one-course {
  height: 80px;
  border-bottom: #E5E5E5 solid 1px;
  .left-part {
    margin-left: 2%;
    a {
      font-size: 1.2em;
      cursor: pointer;
      display: block;
      @include one-line(80px);
      color: $coach-bg;
      text-decoration: none;
      text-align: center;
      &:hover {
        text-decoration: none;
        color: $coach-bg;
      }
    }
  }
}
