@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

body {
  min-width: 0px;
  text-align: center;
}

.stat-pic-wrapper {
  margin-bottom: 10px;
  height: 300px;
}

.exam-title-wrapper {
  width: 90vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
  .title {
    font-size: 18px;
  }
  .created-at {
    color: #999999;
    font-size: 16px;
  }
}

.exam-stat-wrapper {
  width: 85vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 18px;
  }
}

.radios-wrapper {
  width: auto;
  @include inline-block;
  text-align: left;
  .radio-wrapper {
    @include inline-block;
    font-size: 18px;
  }
}

.btn-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  .btn-main {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-main {
  background-color: #179C26;
  &:hover {
    background-color: #0E731A;
  }
}

.score-abcd .icon {
  @include size(32px, 32px);
  @include inline-block;
}

.operation .icon {
  @include size(40px, 40px);
  @include inline-block;
}
a {
  text-decoration: none;
  .star {
    @include weixin-sprite(star40);
  }
  .star_select {
    @include weixin-sprite(star_select40);
  }
  .photo {
    @include weixin-sprite(photo40);
  }
  .edit {
    @include weixin-sprite(edit40);
  }
  .exam_A32 {
    @include weixin-sprite(exam_A32);
    &.select {
      @include weixin-sprite(exam_A_select32);
    }
  }
  .exam_B32 {
    @include weixin-sprite(exam_B32);
    &.select {
      @include weixin-sprite(exam_B_select32);
    }
  }
  .exam_C32 {
    @include weixin-sprite(exam_C32);
    &.select {
      @include weixin-sprite(exam_C_select32);
    }
  }
  .exam_D32 {
    @include weixin-sprite(exam_D32);
    &.select {
      @include weixin-sprite(exam_D_select32);
    }
  }
}

.score-100, .score-5, .score-abcd {
  margin-top: 10px;
}

.score-input-wrapper {
  @include inline-block;
}

.operation {
  margin-top: 20px;
}

.btn-over {
  margin-top: 10px;
}

.detail-table-wrapper {
  margin-bottom: 50px;
  table {
    border-top: solid 1px #CCC;
    width: 100%;
    font-size: 18px;
    tr {
      height: 40px;
      border-bottom: solid 1px #CCC;
      padding: 5px;
    }
  }
  .name-td {
    width: 20%;
  }
  .score-td {
    width: 50%;
  }
  .op-td {
    width: 30%;
  }
}
