- content_for :app_head do
  = javascript_include_tag "pages/weixin/schedules/show-bundle"
  = stylesheet_link_tag "pages/weixin/schedules/show-bundle", :media => "all"
  :javascript
    window.date="#{@title}"

#calendar

