@import 'common';
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icons/homeworks/*.png";
@import 'ui/widgets/folder_tree';
@import 'ui/widgets/popup_menu';

#homework-index {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#search-bar {
  width: 100%;
  height: 50px;
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px solid #E5E5E5;
  #folder-wrapper {
    @include one-line(50px);
    float: left;
    margin-left: 215px;
    font-size: 1.4em;
    .folder-chain-separator {
      @include inline-block;
      float: left;
      margin-right: 5px;
    }
    .link-div {
      @include inline-block;
      float: left;
      margin-right: 5px;
    }
  }
  #search-box {
    padding: 10px;
    float: right;
    margin-right: 40px;
    #input-search {
      @include one-line(26px);
    }
    a {
      @include inline-block;
      @include size(47px, 26px);
      @include homeworks-sprite(search_button);
    }
  }
}

#main-part {
  margin-top: 2px;
}

#left-part {
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top: 112px;
  left: 15px;
  bottom: 0px;
  width: 200px;
  #new-button {
    margin-left: 5px;
    @include clearfix;
    #create-new-link {
      @include inline-block;
      @include size(114px, 29px);
      @include homeworks-sprite(create_new);
      border-right: 1px #FFFFFF solid;
      float: left;
      cursor: pointer;
    }
    .ef-dropdown-menu {
      @include box-shadow(gray 0px 0px 5px);
      width: 114px;
      top: 50px;
      left: 24px;
      position: absolute;
      border: 1px #CCCCCC solid;
      background-color: white;
      list-style-type: none;
      z-index: 1000;
      .ef-dropdown-item {
        margin: 0;
        padding: 7px 0 7px;
        &:hover {
          background-color: #EEE;
        }
        line-height: 20px;
        a {
          width: 100%;
          @include inline-block;
          padding-left: 10px;
          line-height: 20px;
          color: #333;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  ul {
    padding-left: 0px;
    list-style: none;
    overflow: auto;
  }
}

#right-part {
  position: absolute;
  top: 107px;
  bottom: 0px;
  right: 0px;
  left: 200px;
  min-width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  #table-wrapper {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 50px;
    .tips {
      margin-top: 30px;
      .page-spec {
        @include inline-block;
        margin-top: 50px;
        margin-left: 100px;
        font-size: 1.2em;
        li {
          line-height: 30px;
        }
      }
    }
  }
  table {
    width: 95%;
    .column-star {
      width: 5%;
    }
    .column-title {
      width: 35%;
    }
    .column-owner {
      width: 20%;
    }
    .column-update-time {
      width: 20%;
    }
    .column-operation {
      width: 20%;
    }
    a {
      text-decoration: none;
    }
    .icon {
      @include size(16px, 16px);
      @include inline-block;
      margin-left: 5px;
    }
    th {
      color: gray;
      .title {
        margin-left: 25px;
      }
    }
    tr {
      height: 40px;
      border-bottom: 1px solid #E5E5E5;
      &.record {
        &:hover {
          background-color: #FFFFD6;
        }
        .subject {
          font-size: 0.75em;
        }
      }
    }
    .star-empty {
      @include homeworks-sprite(star_empty);
    }
    .starred {
      @include homeworks-sprite(star_starred);
    }
    .folder {
      @include homeworks-sprite(folder_table);
    }
    .word {
      @include homeworks-sprite(word_table);
    }
    .slide {
      @include homeworks-sprite(slide_table);
    }

    .open {
      @include homeworks-sprite(open);
      &:hover {
        @include homeworks-sprite(open_hover);
      }
    }
    .move {
      @include homeworks-sprite(move);
      &:hover {
        @include homeworks-sprite(move_hover);
      }
    }
    .remove {
      @include homeworks-sprite(remove);
      &:hover {
        @include homeworks-sprite(remove_hover);
      }
    }
    .edit {
      @include homeworks-sprite(edit);
      &:hover {
        @include homeworks-sprite(edit_hover);
      }
    }
    .stat {
      @include homeworks-sprite(stat);
      &:hover {
        @include homeworks-sprite(stat_hover);
      }
    }
    .recover {
      @include homeworks-sprite(recover);
      &:hover {
        @include homeworks-sprite(recover_hover);
      }
    }
    .destroy {
      @include homeworks-sprite(destroy);
      &:hover {
        @include homeworks-sprite(destroy_hover);
      }
    }
    .share {
      @include homeworks-sprite(share_table);
    }
  }
}


// move folder
#moveModal {
  .modal-body p {
    margin-left: 84px;
  }
  .target-name {
    font-weight: bold;
  }
}
#move-folder-parent {
  padding: 5px;
  overflow: auto;
  margin: 0 auto;
  border: 2px solid #9CBEF5;
  width: 400px;
  height: 300px;
}

#browser-homework-click, #browser-slide-click {
  text-decoration: none;
  cursor: pointer;
  @include inline-block;
  @include size(60px, 16px);
  @include homeworks-sprite(upload);
  margin-bottom: 5px;
}

#shareModal {
  .sharer-list {
    padding-left: 100px;
    width: 50%;
    max-height: 200px;
    .teacher-name {
      @include inline-block;
      width: 45%;
    }
    .editable {
      @include inline-block;
      width: 45%;
      cursor: pointer;
    }
    .close-link {
      text-decoration: none;
      color: black;
      opacity: 0.4;
      font-size: 1.2em;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  #share-input {
    width: 300px;
  }
  .editable {
    text-decoration: none;
  }
}

.ui-autocomplete {
  z-index: 10000;
  li {
    font-size: 14px;
  }
}
