@import 'common';
@import "compass/css3";
@import "icons/homeworks/*.png";
@import 'ui/widgets/folder_tree';
@import 'ui/widgets/popup_menu';

#homework-index {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#wrap {
  min-width: 900px;
}

#search-bar {
  width: auto;
  height: 50px;
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-top: 1px solid #E5E5E5;
  #folder-wrapper {
    float: left;
    margin-left: 200px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1.4em;
    .link-div {
      padding: 5px;
      display: inline-block;
    }
  }
  #search-box {
    padding: 10px;
    float: right;
    margin-right: 30px;
  }
}

#main-part {
  margin-top: 2px;
}

#left-part {
  padding-left: 20px;
  padding-top: 20px;
  float: left;
  width: 200px;
  height: 500px;
  ul {
    padding-left: 0px;
    list-style: none;
    overflow: auto;
  }
}

#right-part {
  overflow-x: hidden;
  padding-left: 15px;
  padding-top: 15px;
  #table-wraper {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 50px;
  }
  table {
    width: 95%;
    .column-star {
      width: 5%;
    }
    .column-title {
      width: 35%;
    }
    .column-owner {
      width: 20%;
    }
    .column-update-time {
      width: 20%;
    }
    .column-operation {
      width: 20%;
    }
    a {
      text-decoration: none;
    }
    .icon {
      @include size(16px, 16px);
      @include inline-block;
      margin-left: 5px;
    }
    th {
      color: gray;
      .title {
        margin-left: 25px;
      }
    }
    tr {
      height: 40px;
      border-bottom: 1px solid #E5E5E5;
      &:not(:first-child) {
        &:hover {
          background-color: #FFFFD6;
        }
        .subject {
          font-size: 0.75em;
        }
        .doc-title {
          color: black;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    .star-empty {
      @include homeworks-sprite(star_empty);
      &:hover {
        @include homeworks-sprite(star_hover);
      }
    }
    .starred {
      @include homeworks-sprite(star_starred);
    }
    .folder {
      @include homeworks-sprite(folder_table);
    }
    .document {
      @include homeworks-sprite(document_table);
    }

    .open {
      @include homeworks-sprite(open);
      &:hover {
        @include homeworks-sprite(open_hover);
      }
    }
    .move {
      @include homeworks-sprite(move);
      &:hover {
        @include homeworks-sprite(move_hover);
      }
    }
    .remove {
      @include homeworks-sprite(remove);
      &:hover {
        @include homeworks-sprite(remove_hover);
      }
    }
    .edit {
      @include homeworks-sprite(edit);
      &:hover {
        @include homeworks-sprite(edit_hover);
      }
    }
    .stat {
      @include homeworks-sprite(stat);
      &:hover {
        @include homeworks-sprite(stat_hover);
      }
    }
    .recover {
      @include homeworks-sprite(recover);
      &:hover {
        @include homeworks-sprite(recover_hover);
      }
    }
    .destroy {
      @include homeworks-sprite(destroy);
      &:hover {
        @include homeworks-sprite(destroy_hover);
      }
    }
  }
}


// move folder
#moveModal {
  .modal-body p {
    margin-left: 84px;
  }
  .target-name {
    font-weight: bold;
  }
}
#move-folder-parent {
  padding: 5px;
  overflow: auto;
  margin: 0 auto;
  border: 2px solid #9CBEF5;
  width: 400px;
  height: 300px;
}