/*
 *= require jquery.qtip
*/
@import 'utility';
@import 'partials/question_variables';




.question-content-div {
  font-size: 1.3em;
}

#shareModal .scroll {
  height: 350px;
}

.content-div {
  background: $q-bg-color;
  @include border-radius(10px);
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $q-bd-color;
}

.current-stat {
  background: $q-stat-bg-color;
}

.question-div {
  table, th, td {
    border: 1px solid black;
  }
}

#note-summary textarea {
  resize: none;
  margin: 10px;
  width: 100%;
  height: 200px;
  border: none;
}

.highcharts-container {
  width: 100% !important;
}


.question-content-div {
  float: left;
  font-size: 1.3em;
  .question-content p {
    span {
      white-space: pre-wrap;
    }
  }
  .question-answer p {
    span {
      white-space: pre-wrap;
    }
  }
  .question-items {
    span {
      white-space: pre-wrap;
    }
    p {
      margin-left: 10px;
    }
  }
  .item-is-not-answer {
    em {
      display: none;
    }
    label {
      margin-left: 18px;
    }
  }
}
