- content_for :app_head do
  = javascript_include_tag "pages/client/homeworks/index-bundle"
  / = stylesheet_link_tag "pages/client/homeworks/index-bundle", :media => "all"

  %img{src: "/test.jpg", width: "100px"}
