@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';


body {
  margin-bottom: 50px;
}

#scrollUp {
  bottom: 70px;
}

#footer{
  border-top: #CCC solid 1px;
  position:fixed;
  height:50px;
  background-color: white;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  table {
    width: 100%;
    td {
      width: 50%;
    }
  }
  .bottom-nav {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    @include inline-block;
    @include one-line(50px);
    font-size: 18px;
  }
  a {
    text-decoration: none;
    background-color: white;
    color: $weixin-bg;
  }
  span {
    background-color: #EEE;
    color: $weixin-bg;
  }
  .record-td {
    border-right: #CCC solid 1px;
  }
}

.header {
  border-bottom: #CCC solid 1px;
}

h4 {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.info {
  float: left;
  color: #999;
  margin-left: 3vw;
}

.paginator-part {
  margin-right: 3vw;
  @include inline-block;
  float: right;
}

.content-block {
  padding: 10px 3vw 10px 3vw;
  font-size: 16px;
  border-bottom: #CCC solid 1px;
}

.answer-item-ul {
  padding-left: 0px;
  list-style-type: none;
  a {
    text-decoration: none;
    .A {
      @include weixin-sprite(A32);
    }
    .B {
      @include weixin-sprite(B32);
    }
    .C {
      @include weixin-sprite(C32);
    }
    .D {
      @include weixin-sprite(D32);
    }
  }
}

.icon {
  @include size(32px, 32px);
  @include inline-block;
}

.student-answer, .coach-comment {
  .image-wrapper {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    img {
      width: 100%;
    }
  }
}
