<li data-id={{id}} data-editable=true>
  <span class=teacher-name>{{name}}</span>
  <a class=editable href="javascript:void(0);">可编辑</span>
  <a class=close-link href="javascript:void(0);">×</a>
</li>
