@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';
@import 'icons/coach/*.png';

.header {
  border-bottom: #CCC solid 1px;
}

.record-tip {
  color: red;
}

.btn-group {
  margin: 10px 3vw;
}

.student-answer-content {
  border-bottom: #CCC solid 1px;
  h4, a {
    margin-left: 3vw;
  }

}

.coach-comment {
  border-bottom: #CCC solid 1px;
  h4, a{
    margin-left: 3vw;
  }
  .coach-comment-area {
    display: block;
    width: 90vw;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.save-wrapper {
  margin: 10px 3vw;
}

h4 {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.info {
  float: left;
  color: #999;
  margin-left: 3vw;
}

.paginator-part {
  margin-right: 3vw;
  @include inline-block;
  float: right;
}

.content-block {
  padding: 10px 3vw 0 3vw;
  font-size: 16px;
  border-bottom: #CCC solid 1px;
}


.question-content {
  font-size: 18px;
}

.answer-item-ul {
  padding-left: 0px;
  list-style-type: none;
  a {
    text-decoration: none;
    .A {
      @include coach-sprite(A32);
      &.selected {
        @include coach-sprite(A_select32);
      }
    }
    .B {
      @include coach-sprite(B32);
      &.selected {
        @include coach-sprite(B_select32);
      }
    }
    .C {
      @include coach-sprite(C32);
      &.selected {
        @include coach-sprite(C_select32);
      }
    }
    .D {
      @include coach-sprite(D32);
      &.selected {
        @include coach-sprite(D_select32);
      }
    }
  }
}

.icon {
  @include size(32px, 32px);
  @include inline-block;
}

.student-answer-content {
  .image-wrapper {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  padding-bottom: 10px;
}

.coach-comment {
  .image-wrapper {
    width: 80vw;
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  padding-bottom: 10px;
}

