@import 'utility';

.question-div {
  background: white;
  @include border-radius(10px);
  margin-bottom: 20px;
  padding: 10px;
}

.question-content-div {
  float: left;
  font-size: 1.3em;
  width: 100%;
  .question-content p {
    white-space: pre-wrap;
  }
  .question-items label {
    white-space: pre;
  }
  .question-items span {
    white-space: pre;
  }
  .question-items p {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .thick {
    font-weight: bold;
  }
  .selected-p {
    background-color: #F1F3F6;
    span {
      font-weight: bold;
    }
  }
  p {
    border-radius: 5px;
  }
}

.question-operation-div {
  float: right;
  width: 15%;
  ul {
    width: 100%;
    li {
      list-style-type: none;
      a {
        display: block;
        text-align: center;
      }
      padding-bottom: 10px;
    }
  }
}

#similar-questions-div {
  display: none;
}

.page-operation-div {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  #check_questions {
    float: left;
    margin-right: 50px;
  }
  #append_note {
    float: left;
  }
}

.question-answer-div {
  font-size: 16px;
  font-weight: bold;
  .correct {
    color: #3C763D;
  }
  .incorrect {
    color: #A94442;
  }
  .warning {
    color: #8A6D3B;
  }
}

#notification-div {
  font-size: 16px;
  .correct-stats {
    color: #3C763D;
  }
  .incorrect-stats {
    color: #A94442;
  }
  .warning {
    color: #8A6D3B;
  }
}
