@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

body {
  min-width: 0px;
  text-align: center;
}

.klass-list {
  width: 100%;
}

.klass-wrapper {
  height: 80px;
  border-bottom: solid 1px #CCC;
  .span-wrapper {
    width: 70%;
    span {
      @include inline-block;
      line-height: 80px;
      font-size: 22px;
    }
  }
  .link-wrapper {
    width: 30%;
    a {
      font-size: 18px;
    }
  }
}
