@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

body {
  min-width: 0px;
  text-align: center;
}

.klass-list {
  width: 100%;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DDD;
  padding-top: 10px;
  padding-bottom: 10px;
  table {
    width: 100%;
  }
  tr {
    height: 30px;
    td {
      width: 50%;
      font-size: 20px;
    }
  }
}

.klass-wrapper {
  height: 80px;
  border-bottom: solid 1px #CCC;
  .span-wrapper {
    width: 70%;
    a {
      @include inline-block;
      line-height: 80px;
      font-size: 22px;
      text-decoration: none;
      color: #333;
    }
  }
  .link-wrapper {
    width: 30%;
    a {
      font-size: 18px;
    }
  }
}

.exam-list, .student-list {
  margin-bottom: 55px;
}

.student-summary {
  table {
    width: 100%;
    text-align: left;
  }
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #CCC;
  .name-td {
    width: 60%;
    padding-left: 5%;
    font-size: 18px;
  }
  .stat-td {
    width: 40%;
  }
  .rate-span {
    font-size: 14px;
    color: #999;
  }
  .summary-span {
    font-size: 16px;
  }
}

.exam-summary {
  table {
    width: 100%;
    text-align: left;
  }
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #CCC;
  .first-tr {
    font-size: 18px;
    height: 35px;
  }
  .second-tr {
    font-size: 14px;
    color: #999;
  }
  .title-td, .date-td {
    width: 70%;
    padding-left: 5%;
  }
  .rate-td, .summary-td {
    width: 30%;
  }
}
