- image_path ||= nil
- q_index ||= nil
- content.each_with_index do |node, i|
  - if i == 0 && q_index.present?
    - node = q_index.to_s + ". " + node
  - if node.class == String
    %p= node.render_question(image_path).html_safe
  - elsif node.class == Hash && node["type"] == "table"
    %table
      - node["content"].each do |row|
        %tr
          - row.each do |cell|
            %td
              - cell.each do |para|
                %p= para.render_question(image_path).html_safe
