@import "common";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";

#top-bar {
  padding: 10px 0;
  .logo-image {
    margin-left: 50px;
    background-image: image-url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include inline-block;
    @include size(50px, 50px);
  }
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px solid #E5E5E5;
}

form {
  margin-top: 20px;
  position: relative;
  .user-role {
    @include one-line(31px);
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.left {
  float: left;
  @include inline-block;
}

.right {
  float: right;
  @include inline-block;
}

.content {
  @include clearfix;
}
