@import 'utility';
@import 'compass/css3';
@import 'common';
@import 'icons/homeworks/*.png';

#title-bar {
  .icon {
    margin-left: 15px;
    @include size(20px, 20px);
    @include inline-block;
  }
  width: auto;
  height: 50px;
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-top: 1px solid #E5E5E5;
  #wrapper {
    width: 965px;
    margin-left: auto;
    margin-right: auto;
  }
  #title-wrapper {
    float: left;
    width: 400px;
    #title {
      margin-top: 0;
      margin-bottom: 0;
      @include inline-block;
      @include one-line(50px);
      float: left;
      font-size: 1.4em;
    }
    .title-edit {
      @include one-line(50px);
      .form-control {
        @include inline-block;
        width: 250px;
      }
    }
    #title-edit-icon {
      @include size(16px, 16px);
      @include inline-block;
      cursor: pointer;
      margin-left: 10px;
      margin-top: 15px;
      float: left;
      @include homeworks-sprite(title_edit);
    }
  }
  #operation-wrapper {
    float: right;
    ul {
      list-style: none;
      li {
        @include one-line(50px);
        margin-left: 10px;
        a {
          text-decoration: none;
          color: black;
          .return {
            @include homeworks-sprite(return20);
          }
          .download {
            @include homeworks-sprite(download20);
          }
          .remove {
            @include homeworks-sprite(remove20);
          }
          .edit {
            @include homeworks-sprite(edit20);
          }
          .setting {
            @include homeworks-sprite(setting20);
          }
          .stat {
            @include homeworks-sprite(stat20);
          }
          &:hover {
            .return {
              @include homeworks-sprite(return20_hover);
            }
            .download {
              @include homeworks-sprite(download20_hover);
            }
            .remove {
              @include homeworks-sprite(remove20_hover);
            }
            .edit {
              @include homeworks-sprite(edit20_hover);
            }
            .setting {
              @include homeworks-sprite(setting20_hover);
            }
            .stat {
              @include homeworks-sprite(stat20_hover);
            }
              span {
              color: $efblue;
            }
          }
        }
        float: right;
      }
    }
  }
}

#downloadModal {
  .title-p {
    margin-left: 20px;
  }
  .content-p {
    margin-left: 40px;
  }
}
