@import 'utility';
@import 'compass/css3';
@import 'common';
@import 'icons/weixin/*.png';

body {
  min-width: 0px;
}

.btn-main {
  background-color: #179C26;
  &:hover {
    background-color: #0E731A;
  }
}

.course-name-tip {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

#homework-navbar {
  text-align: center;
  background-color: $homework-bg;
  height: 50px;
  .nav-left-icon {
    position: absolute;
    left: 0px;
  }
  .nav-right-icon {
    position: absolute;
    right: 0px;
  }
  .icon {
    @include size(24px, 24px);
    @include inline-block;
  }
  a {
    text-decoration: none;
    color: black;
    .new {
      margin-top: 13px;
      margin-right: 13px;
      @include weixin-sprite(new24);
    }
    .return {
      margin-top: 13px;
      margin-left: 13px;
      @include weixin-sprite(return24);
    }
    .filter {
      margin-top: 13px;
      margin-left: 13px;
      @include weixin-sprite(filter24);
    }
    .user {
      margin-top: 13px;
      margin-right: 13px;
      @include weixin-sprite(user24);
    }
  }
  #title {
    @include inline-block;
    margin: auto;
    line-height: 50px;
    color: white;
    font-size: 22px;
    text-align: center;
  }
  .nav-text {
    @include inline-block;
    margin: auto;
    line-height: 50px;
    color: white;
    font-size: 22px;
    text-align: center;
  }
}
