- content_for :app_head do
  = javascript_include_tag "pages/client/users/unbind-bundle"
  = stylesheet_link_tag "pages/client/users/unbind-bundle", :media => "all"

- content_for :app_content do
  .info
    %span 绑定已解除，请点击
    = link_to "这里", "javascript:void(0);", { class: "close-page" }
    %span 关闭页面
