- content_for :head do
  = stylesheet_link_tag "pages/teacher/help-bundle", :media => "all"
  = javascript_include_tag "pages/teacher/help-bundle"
  :javascript

- content_for :teacher_content do
  #guide-wrapper
