- content_for :head do
  = stylesheet_link_tag "pages/teacher/help-bundle", :media => "all"
  = javascript_include_tag "pages/teacher/help-bundle"
  :javascript

- content_for :teacher_content do
  #guide-wrapper
    %p.title 作业创建及编辑
    %p.para 易飞网提供灵活的作业创建方式，既支持教师将自己平时收集的作业题目上传导入，同时也完全免费地提供高质量的题库供教师浏览选择，针对学校和机构用户，易飞网还免费提供练习册录入服务，使教师能够轻松将传统纸质练习册转换成电子版练习册。强大的作业编辑功能使教师能够快速生成个性化的练习作业。教师使用一键下载功能可以将作业导出成word文档并打印成试卷。
    %p.sub-title 作业的创建
    %p.para 教师可以在云端平台文件夹管理页创建作业，如下所示：
    %ul.para-list
      %li
        %p.para 上传word文档：教师可以直接将word格式的文档上传至易飞云端平台，平台能够智能地解析word文档中的内容，将其中的题目逐一抽取并存储。通过这种方式，教师可以迅速将以前积累的或是从其他地方搜集到的题目导入到易飞平台，便于使用平台的各项功能。为了能够更好地解析题目内容，教师所上传的word文档需要遵循一定的格式规范，详细信息请点击这里查看。通过上传word文档创建作业的具体操作方式为：
      %li
        %p.para 从题库中选题
      %li
        %p.para 免费练习册录入
    %p.sub-title 上传word文档的格式要求
    %p.sub-title 如何从在线题库中选题
    %p.sub-title 作业的编辑及设置
    %p.sub-title 作业导出下载
