- content_for :head do
  = stylesheet_link_tag "pages/teacher/help-bundle", :media => "all"
  = javascript_include_tag "pages/teacher/help-bundle"
  :javascript

- content_for :teacher_content do
  #guide-wrapper
    %p.title 快速上手指南
    %p.sub-title 易飞简介
    %p.para 易飞网团队成员分别来自互联网行业和基础教育行业，专注于利用互联网及移动互联网技术为基础教育提供高质量服务，提高教育教学水平和效率。
    %p.para 易飞网目前推出面向教师的云端教学平台，教师在平台上可以组织整理日常练习及作业。依托平台服务，易飞网研发了面向学生的移动终端app程序，使学生可以很方便地收集日常作业中的错题和重点题。同时教师也可以通过平台查看同学的错题记录及笔记总结。
    %p.sub-title 使用流程
    %p 教师使用云端平台管理、发布作业及查看统计数据的典型流程为：
    %ul.para-list
      %li
        %p 创建及编辑作业：教师可以通过以下方式创建作业，
        %ul.para-sub-list
          %li
            %p 上传word作业文档：
          %li
            %p 从在线题库选题
      %li
        %p 下载作业：教师可以将编辑完毕的作业以word形式下载下来，并选择为每道题目添加唯一的二维码。学生用手机app程序扫描题目二维码就可以很方便地记录题目并书写总结笔记。
      %li
        %p 查看统计数据：教师在云端平台可以查看学生记录二维码的统计数据，包括学生做的笔记和总结。
    %p 此外，云端硬盘还提供以下功能：
    %ul.para-list
      %li
        %p 管理作业：教师在云端平台可以像管理电脑上的文件夹一样对作业及练习进行整理和组织
      %li
        %p 班级及学生管理：教师可以在平台中创建分组，分组通常是行政班、兴趣小组或者依据学生水平划分。可以将学生放到不同的分组
