- content_for :app_head do
  = javascript_include_tag "pages/coach/students/exercise-bundle"
  = stylesheet_link_tag "pages/coach/students/exercise-bundle", :media => "all"

%h4.course-name-tip= @local_course.name + " 练习反馈"

%ul
  - @lessons.each_with_index do |l, i|
    %li
      = link_to lesson_helper(i) + l.name, coach_exercise_path(l) + "?local_course_id=" + @local_course.id.to_s + "&index=" + i.to_s + "&student_id=" + @student.id.to_s
