- content_for :app_head do
  = javascript_include_tag "pages/coach/students/index-bundle"
  = stylesheet_link_tag "pages/coach/students/index-bundle", :media => "all"


%p FIND ME AT /COACH/STUDENTS/INDEX.HAML