@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

h4 {
  border-bottom: #CCC solid 1px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#lesson-ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  li {
    list-style: none;
    height: auto;
    text-align: left;
    border-bottom: #CCC solid 1px;
    .lesson-link {
      background-color: #F4F4F4;
      font-size: 1.2em;
      cursor: pointer;
      display: block;
      @include one-line(50px);
      color: $weixin-bg;
      text-decoration: none;
      text-align: left;
      padding-left: 3vw;
      &:hover {
        text-decoration: none;
        color: $weixin-bg;
      }
    }
  }
}

.icon {
  @include size(24px, 24px);
  @include inline-block;
}


#left-filter {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  border-right: #CCC solid 1px;
  z-index: 101;

  .filter-title {
    background-color: $weixin-bg;
    height: 50px;
    text-align: center;
    color: white;
    .title-content {
      @include inline-block;
      margin: auto;
      line-height: 50px;
      color: white;
      font-size: 22px;
      text-align: center;
    }
    a {
      text-decoration: none;
      .turnoff {
        margin-top: 13px;
        margin-right: 13px;
        @include weixin-sprite(turnoff24);
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    li {
      list-style: none;
      height: 50px;
      text-align: center;
      a {
        overflow: hidden;
        border-bottom: #CCC solid 1px;
        background-color: #F4F4F4;
        font-size: 1.2em;
        cursor: pointer;
        display: block;
        @include one-line(50px);
        color: $weixin-bg;
        text-decoration: none;
        text-align: center;
        &:hover {
          background-color: #E6E6E6;
        }
      }
    }
  }
}
