- content_for :app_head do
  = javascript_include_tag "pages/welcome-bundle"
  = stylesheet_link_tag "pages/welcome-bundle", :media => "all"

.jumbotron
  .container
    %h1 让成绩一飞冲天
    %p 易飞网帮助教师为题目加上二维码。同学只要轻轻一扫，就可以轻松收集错题典型题，告别繁琐的手抄错题本。
    %p
      %a.btn.btn-primary.btn-lg{:role => "button"} 更多 »

.container
  / Example row of columns
  .row
    .col-md-4
      %h2 快速添加二维码
      %p 教师只需要将word版的作业按照一定的格式稍加处理和上传，系统就可以自动解析word并录入题目，并且为教师提供每道题目均添加了二维码的word作业供下载。
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
    .col-md-4
      %h2 轻轻一扫，错题尽收
      %p 同学用手机中的任意一款扫码软件扫描作业中的题目二维码，即可将该题目收集为错题或者典型题，同时还可以为题目做笔记、记录知识点。从此告别手抄错题本。
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
    .col-md-4
      %h2 便捷导出再练习
      %p 同学可以一句知识点、添加时间、题目内容等多条件对收录题目进行检索查询，可以将题目导出成word文档下载打印再练习。
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
  %hr/
  %footer
    %p © Company 2014
