- content_for :app_head do
  = javascript_include_tag "pages/welcome/index-bundle"
  = stylesheet_link_tag "pages/welcome/index-bundle", :media => "all"


#top-bar
  =link_to "", "javascript:void(0);", :class => 'logo-image'
  #login-btn-wrapper
    - if current_user.present?
      %a.login-btn.btn.btn-success{href: new_account_session_path} 云端平台
    - else
      %a.login-btn.btn.btn-success{href: new_account_session_path} 登录
      %a.registrate-btn.btn.btn-success{href: new_account_registration_path} 注册 
#logo-wrapper
  #logo-image
#title-wrapper
  %span#title 易飞网
#desc-wrapper
  %span#desc 中小学教师云平台
