- content_for :app_head do
  = javascript_include_tag "pages/welcome/index-bundle"
  = stylesheet_link_tag "pages/welcome/index-bundle", :media => "all"


#top-bar
  =link_to "", "javascript:void(0);", :class => 'logo-image'
  #login-btn-wrapper
    - if current_user.present?
      %a.login-btn.btn.btn-success{href: new_account_session_path} 云端平台
    - else
      %a.login-btn.btn.btn-success{href: new_account_session_path} 登录
      %a.registrate-btn.btn.btn-success{href: new_account_registration_path} 注册 
#logo-wrapper
  #logo-image
#title-wrapper
  %span#title 易飞网
#desc-wrapper
  %span#desc 中小学教师云平台
#teacher-part
  #teacher-left-part
    %ul
      %li 文档云端存储管理
      %li 精选题库免费提供
      %li 作业一键上传解析
      %li 学生统计随时掌握
      %li 便捷共享协作机制
  #teacher-right-part
    #pc
    #pc-screenshots
      %ul#pc-ul
        %li
          #pc_pic1
        %li
          #pc_pic2
        %li
          #pc_pic3
        %li
          #pc_pic4
  .clear-both
#student-part
  #student-left-part
    #mobile
    #screenshots
      %ul
        %li
          #pic1
        %li
          #pic2
        %li
          #pic3
  #student-right-part
    #right-content
      #spec 学生端app（扫描下载）
      %table
        %tr
          %td
            #android_qr_code
          %td
            #ios_qr_code
        %tr
          %td
            #android-link-wrapper
              %a{href: "javascript:void(0);"}
                %i#android-link.icon
          %td
            #ios-link-wrapper
              %a{href: "javascript:void(0);"}
                %i#ios-link.icon
  .clear-both
#bottom-bar
  #beian 京ICP备14013320-2
