- content_for :app_head do
  = javascript_include_tag "pages/welcome/index-bundle"
  = stylesheet_link_tag "pages/welcome/index-bundle", :media => "all"


#top-bar
  =link_to "", "javascript:void(0);", :class => 'logo-image'
  #login-btn-wrapper
    - if current_user.present?
      %a.login-btn.btn.btn-success{href: new_account_session_path} 云端平台
    - else
      %a.login-btn.btn.btn-success{href: new_account_session_path} 登录
      %a.registrate-btn.btn.btn-success{href: new_account_registration_path} 注册 
#logo-wrapper
  #logo-image
#title-wrapper
  %span#title 易飞网
#desc-wrapper
  %span#desc 中小学教师云平台
#teacher-part
#student-part
  #left-part
    #mobile
    #screenshots
      %ul
        %li
          #pic1
        %li
          #pic2
        %li
          #pic3
  #right-part
    #right-content
      #spec 扫描下载学生端app
      %table
        %tr
          %td
            #android_qr_code
          %td
            #ios_qr_code
        %tr
          %td
            #ios-link-wrapper
              %a{href: "javascript:void(0);"}
                %i#ios-link.icon
          %td
            #android-link-wrapper
              %a{href: "javascript:void(0);"}
                %i#android-link.icon
  .clear-both
#bottom-bar
  #beian 京ICP备14013320-2
