- content_for :app_head do
  = javascript_include_tag "pages/welcome/index-bundle"
  = stylesheet_link_tag "pages/welcome/index-bundle", :media => "all"


#top-bar
  =image_tag "logo.png", width: "50px", class: "logo-image"
  #login-btn-wrapper
    - if current_user.present?
      %a.login-btn.btn.btn-success{href: new_account_session_path} 云端平台
    - else
      %a.login-btn.btn.btn-success{href: new_account_session_path} 登录
      %a.registrate-btn.btn.btn-success{href: new_account_registration_path} 注册 
#logo-wrapper
  =image_tag "logo.png", width: "118px", class: "logo-image"
  %span#title 家门口的名师课堂
#desc-wrapper
  %span#desc 教师云端平台
#teacher-part
  #teacher-left-part
    %ul
      %li 文档云端存储管理
      %li 精选题库免费提供
      %li 作业一键上传解析
      %li 学生统计随时掌握
      %li 便捷机制协作共享
  #teacher-right-part
    #pc
    #pc-screenshots
      %ul#pc-ul
        %li
          #pc_pic1
        %li
          #pc_pic2
        %li
          #pc_pic3
        %li
          #pc_pic4
  .clear-both
#bottom-bar
  #beian 京ICP备14013320-2
