- content_for :head do
  = stylesheet_link_tag "pages/welcome/student-app-bundle", :media => "all"
  = javascript_include_tag "pages/welcome/student-app-bundle"

#left-part
  #mobile
  #screenshots
    %ul
      %li
        #pic1
      %li
        #pic2
      %li
        #pic3
#right-part
  #right-content
    #logo
    #qr_code
    #spec 扫描下载学生端app
    #ios-link
    #android-link
