@import "compass/utilities/general/clearfix";

#snapshots, #new-snapshot {
  float: right;
  width: 30%;
}

#new-snapshot-title, #snapshot-list {
  margin: 0px;
}

#video-canvas-wrapper {
  float: left;
  position: relative;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

#point-ul {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
  li {
    margin-top: 5px;
    list-style-type: none;
  }
}

.inline-title {
  display: inline;
  margin-right: 40px;
}

#bottom {
  height: 50px;
}

.paginator-wrapper {
  margin-bottom: 10px;
  float: left;
}
.selector-wrapper {
  float: right;
  #course_subject {
    margin-right: 10px;
    display: inline-block;
    width: auto;
  }
  #course_type {
    display: inline-block;
    width: auto;
  }
}

.btn-new {
  margin-bottom: 30px;
}

.top-wrapper {
  @include clearfix;
}

#course_selector {
  margin-bottom: 10px;
}

#lesson_selector {
  margin-bottom: 10px;
}

.select-video {
  @include clearfix;
}

.wrapper {
  @include clearfix;
  margin-bottom: 5px;
}
