@import "compass/utilities/general/clearfix";

#bottom {
  height: 50px;
}

.paginator-wrapper {
  margin-bottom: 10px;
  float: left;
}
.selector-wrapper {
  float: right;
  #course_subject {
    margin-right: 10px;
    display: inline-block;
    width: auto;
  }
  #course_type {
    display: inline-block;
    width: auto;
  }
}

.btn-new {
  margin-bottom: 30px;
}

.top-wrapper {
  @include clearfix;
}

#course_selector {
  margin-bottom: 10px;
}

#lesson_selector {
  margin-bottom: 10px;
}

.select-video {
  @include clearfix;
}

.wrapper {
  @include clearfix;
  margin-bottom: 5px;
}
