@import "compass/utilities/general/clearfix";

.paginator-wrapper {
  margin-bottom: 10px;
  float: left;
}
.selector-wrapper {
  float: right;
  #course_subject {
    margin-right: 10px;
  }
}

.btn-new {
  margin-bottom: 30px;
}

.top-wrapper {
  @include clearfix;
}

#course_selector {
  margin-bottom: 10px;
}

#lesson_selector {
  margin-bottom: 10px;
}

.select-video {
  @include clearfix;
}
