@import 'utility';
$op_width: 15%;
$content_width: 85%;
$select_width: 3%;
$question_width: 97%;
$msg_background: #F9EDBE;
$msg_border: #F0C36D;


.group-div {
  background: white;
  @include border-radius(10px);
  margin-bottom: 20px;
  padding: 10px;
}

.select-indicator {
  color: red;
  font-size: 0.8em;
}

.question-with-select-div {
  margin-top: 20px;
  margin-bottom: 20px;
  .notification-div {
    position: absolute;
    display: inline;
    margin-left: 60%;
    background-color: $msg_background;
    border: 2px $msg_border;
    display: none;
  }
}

.select-div {
  float: left;
  width: $select_width;
}

.question-div {
  float: right;
  width: $question_width;
}

.content-div {
  float:left;
  width: $content_width;
}

.editor-div {
  float: right;
  width: $op_width;
  .btn-group {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .input-group {
    margin-bottom: 30px
  }
}

.operation-div {
  float: right;
  width: $op_width;
  a {
    padding-right: 10px;
    float: right;
    display: block;
    text-align: center;
    em {
      line-height: 20px;
      font-size: 1.0em;
    }
  }
}

.question-content-div {
  float: left;
  font-size: 1.3em;
  width: 95%;
  .question-content p {
    span {
      white-space: pre-wrap;
    }
  }
  .question-items {
    span {
      white-space: pre-wrap;
    }
    p {
      margin-left: 10px;
    }
  }
  .item-is-not-answer {
    em {
      display: none;
    }
    label {
      margin-left: 18px;
    }
  }
}

.question-operation-div {
  float: right;
  width: 5%;
}

.question-editor-confirm-div {
  float: right;    
}

.question-editor-div {
  width: 88%;
  float: left;
  textarea {
    width: 90%;
  }
}

.question-editor-div .input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}
