@import "compass/utilities/general/clearfix";

.paginator-wrapper {
  margin-bottom: 10px;
  float: left;
}
.selector-wrapper {
  float: right;
  #course_subject {
    margin-right: 10px;
    display: inline-block;
    width: auto;
  }
  #course_type {
    display: inline-block;
    width: auto;
  }
}

.top-wrapper {
  @include clearfix;
}


.btn-new {
  margin-bottom: 30px;
}

.form-wrapper {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 30px;
}

#local_course_time_ary {
  height: 200px;
}
