@import "compass/css3/inline-block";

.paginator-wrapper {
  margin-bottom: 10px;
}

.btn-new {
  margin-bottom: 30px;
}

.form-wrapper {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 30px;
}

#new_local_course {
  width: 80%;
  @include inline-block;
}

.remove-local-course {
  text-decoration: none;
  color: black;
  opacity: 0.2;
  font-weight: bold;
  margin-left: 20px;
  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.5;
  }
}
