@import "compass/css3/inline-block";

img {
  width: 100%;
}

.col-type {
  width: 8%;
}

.col-title {
  width: 16%;
}

.col-desc {
  width: 16%;
}

.col-pic {
  width: 32%;
}

.col-url {
  width: 12%;
}

.col-op {
  width: 16%;
}

.news-url-wrapper {
  @include inline-block;
  width: 100%;
}

.paginator-wrapper {
  margin-bottom: 10px;
}

.btn-new {
  margin-bottom: 30px;
}
