/*
 *= require jquery.tagsinput
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require jquery-ui.theme
*/
@import 'utility';
@import 'partials/note';

#operation-div {
  margin-bottom: 10px;
  .note_type-select {
    display: inline;
    width: 50%;
  }
}

.search-stats {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
