- content_for :app_head do
  = javascript_include_tag "pages/weixin/courses/exercise-bundle"
  = stylesheet_link_tag "pages/weixin/courses/exercise-bundle", :media => "all"

%h4.course-name-tip= @local_course.name

%ul
  - @lessons.each_with_index do |l, i|
    %li
      = link_to lesson_helper(i) + l.name.my_trim(6) + (Answer.ensure_answer(@current_user, l.homework, @local_course.coach).try(:finish) ? "（已完成）" : ""), Answer.ensure_answer(@current_user, l.homework, @local_course.coach).try(:finish) ? weixin_exercise_path(l) + "?local_course_id=" + @local_course.id.to_s + "&index=" + i.to_s : "javascript:void(0);"
