- content_for :head do
  = javascript_include_tag "pages/teacher/questions/index-bundle"
  = stylesheet_link_tag "pages/teacher/questions/index-bundle", :media => "all"
  :javascript
    window.book_id = "#{@current_book.id.to_s}"

- content_for :teacher_content do
  #question-index
    #book-bar
      %table
        %tr
          %th 版本选择
          %td
            %ul.edition-ul
              - @editions.each do |e|
                - if e == @current_edition
                  %li.edition-ele{data: {id: e.id.to_s}}.selected= e.name
                - else
                  %li.edition-ele{data: {id: e.id.to_s}= e.name
        %tr
          %th 教材选择
          %td
            %ul.book-ul
              - @books.each do |b|
                - if b == @current_book
                  %li.book-ele{data: {id: b.id.to_s}}.selected= b.name
                - else
                  %li.book-ele{data: {id: b.id.to_s}}= b.name
      .book-select
    .clear-both
    #content-background
      #left-part
        .folder-node#root-folder
          .name-node.root
            %span.caret-wrapper
              %b.open
            %i.icon.folder-open
          .children.hide
      #right-part
