<div class="image-wrapper one-content">
  <img></img>
  <div class="btn-group">
    <button class="btn btn-default turn turn-right" data-rotate="90">右转90度</button>
    <button class="btn btn-default turn turn-over" data-rotate="180">旋转180度</button>
    <button class="btn btn-default turn turn-left" data-rotate="270">左转90度</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-default delete">删除</button>
    <button class="btn btn-default move-up">上移</button>
    <button class="btn btn-default move-down">下移</button>
  </div>
</div>
