<div class="para-wrapper one-content">
  <textarea></textarea>
  <div class="btn-group">
    <button class="btn btn-default voice-input">语音输入</button>
    <button class="btn btn-default delete">删除</button>
    <button class="btn btn-default move-up">上移</button>
    <button class="btn btn-default move-down">下移</button>
  </div>
</div>
