<div class="para-wrapper one-content">
  <table>
    <tr>
      <td class="para-content">
        <textarea></textarea>
        <a href="javascript:void(0);" class="voice-input">语音输入</a>
      </td>
      <td class="operation">
        <a href="javascript:void(0);" class="delete">删除</a>
      </td>
    </tr>
  </table>
</div>
