@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

.header {
  border-bottom: #CCC solid 1px;
}

h4 {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.info {
  float: left;
  color: #999;
  margin-left: 3vw;
}

.paginator-part {
  margin-right: 3vw;
  @include inline-block;
  float: right;
}

.content-block {
  padding: 10px 3vw 10px 3vw;
  font-size: 16px;
  border-bottom: #CCC solid 1px;
}

.answer-item-ul {
  padding-left: 0px;
  list-style-type: none;
  a {
    text-decoration: none;
    .A {
      @include weixin-sprite(A32);
    }
    .B {
      @include weixin-sprite(B32);
    }
    .C {
      @include weixin-sprite(C32);
    }
    .D {
      @include weixin-sprite(D32);
    }
  }
}

.icon {
  @include size(32px, 32px);
  @include inline-block;
}

.student-answer, .coach-comment {
  img {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
