@import 'common';
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import 'icons/weixin/*.png';

h4 {
  border-bottom: #CCC solid 1px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.save-wrapper {
  margin: 10px 3vw;
}

.record-tip {
  color: red;
}
