- content_for :app_head do
  = javascript_include_tag "pages/coach/exercises/show-bundle"
  = stylesheet_link_tag "pages/coach/exercises/show-bundle", :media => "all"

= link_to "TAKE A PHOTO", "javascript:void(0);", { class: "photo" }
%br
= link_to "SAY SOMETHING", "javascript:void(0);", { class: "voice" }
