- content_for :app_head do
  = javascript_include_tag "pages/lecture_users/create-bundle"
  = stylesheet_link_tag "pages/lecture_users/create-bundle", :media => "all"

.c
  %span 感谢您报名参与，我们的工作人员会向您的手机号
  %span.em= @mobile
  %span 致电告知讲座的具体时间和地点。
  %br
  = link_to "关闭", "javascript:void(0);", class: "btn btn-danger btn-exit"
