- content_for :app_head do
  = javascript_include_tag "pages/lecture_users/index-bundle"
  = stylesheet_link_tag "pages/lecture_users/index-bundle", :media => "all"


%table
  - @users.each do |u|
    %tr
      %td= u.mobile
      %td= u.created_at.strftime("%Y-%m-%d  %H:%M:%S")
