@import 'common';
@import "compass/css3";
@import "icons/students/*.png";

#student-index {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#left-part {
  position: absolute;
  top: 42px;
  bottom: 0px;
  width: 200px;
  left: 0px;
  padding-left: 20px;
  padding-top: 40px;
  .class-link-wrapper {
    cursor: pointer;
    a.student-link {
      text-decoration: none;
      color: black;
      &.select {
        color: #D54937;
      }
    }
    a.remove-link {
      float: right;
      margin-right: 10px;
      cursor: pointer;
    }
    &:hover {
      background-color: #EEEEEE;
    }
  }
  .new-class-wrapper {
    margin-top: 10px;
  }
  ul {
    padding-left: 10px;
    list-style: none;
    overflow: auto;
  }
}

#right-part {
  position: absolute;
  top: 42px;
  bottom: 0px;
  right: 0px;
  left: 200px;
  overflow-x: hidden;
  padding-left: 15px;
  padding-top: 35px;
  #summary {
    width: 95%;
    .class_name {
      font-size: 1.5em;
      margin-right: 10px;
    }
    .students_number {
      font-size: 1em;
      color: #888888;
    }
    #search-box {
      padding: 10px;
      float: right;
      margin-right: 40px;
      #input-search {
        @include one-line(26px);
      }
      a {
        @include inline-block;
        @include size(47px, 26px);
        @include students-sprite(search_button);
      }
    }
  }
  #table-wrapper {
    position: absolute;
    top: 75px;
    bottom: 0px;
    left: 23px;
    right: 0px;
    overflow: auto;
  }
  table {
    width: 95%;
    .column-name {
      width: 15%;
    }
    .column-email {
      width: 25%;
    }
    .column-mobile {
      width: 20%;
    }
    .column-group {
      width: 20%;
    }
    .column-operation {
      width: 20%;
    }
    th {
      color: gray;
      .title {
        margin-left: 25px;
      }
    }
    tr {
      height: 40px;
      border-bottom: 1px solid #E5E5E5;
      &.record {
        &:hover {
          background-color: #FFFFD6;
        }
        .subject {
          font-size: 0.75em;
        }
        .doc-title {
          color: black;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
    .icon {
      @include size(16px, 16px);
      @include inline-block;
      margin-left: 5px;
    }
    .stat {
      @include students-sprite(stat);
      &:hover {
        @include students-sprite(stat_hover);
      }
    }
    .move {
      @include students-sprite(move);
      &:hover {
        @include students-sprite(move_hover);
      }
    }
    .copy {
      @include students-sprite(copy);
      &:hover {
        @include students-sprite(copy_hover);
      }
    }
    .remove {
      @include students-sprite(remove);
      &:hover {
        @include students-sprite(remove_hover);
      }
    }
  }
}

.modal {
  .class_select_list {
    ul {
      list-style: none;
      overflow: auto;
      height: 200px;
      li {
        cursor: pointer;
        width: 200px;
        &:hover {
          background-color: #EEEEEE;
        }
        &.select {
          color: #D54937;
        }
      }
    }
  }
}