@import 'partials/question_variables';

.record-div {
  margin-bottom: 20px;
  background: $q-bg-color;
  border-style: solid;
  border-width: 1px;
  border-color: $q-bd-color;

  .question-div {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    .question-content-div {
      float: left;
      font-size: 1.0em;
      .question-content p {
        white-space: pre-wrap;
      }
      .question-items span {
        white-space: pre;
      }
    }
  }

  .note-div {
    background: $n-bg-color;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    .note-type-box {
      margin-bottom: 10px;
      .note_type-select {
        display: inline;
        width: 50%;
      }
    }
    .topic-box {
      margin-bottom: 10px;
      .ui-autocomplete-input {
        width: 78px !important;
      }
    }
    .summary-box {
      margin-bottom: 10px;
    }
  }
}
