{{#ifCond type "folder"}}
  {{#each folder_chain}}
    {{#if separate}}
      <span>/</span>
    {{else}}
      <div class="link-div">
        <a href="/teacher/homeworks?folder_id={{id.$oid}}">{{name}}</a>
      </div>
    {{/if}}
  {{/each}}
{{/ifCond}}
{{#ifCond type "trash"}}
  <span>回收站</span>
{{/ifCond}}
{{#ifCond type "recent"}}
  <span>最近使用</span>
{{/ifCond}}
{{#ifCond type "all"}}
  <span>全部作业</span>
{{/ifCond}}
{{#ifCond type "starred"}}
  <span>已加星标</span>
{{/ifCond}}
{{#ifCond type "workbook"}}
  <span>练习册</span>
{{/ifCond}}
{{#ifCond type "search"}}
  <span>搜索结果</span>
{{/ifCond}}
