/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.jesse.notification
 *= require_self
 */
@import 'utility';

.right {
  float: right;
}
.left {
  float: left;
}
.clear_both {
  clear: both;
}

body {
  background: #EDEDF2;
}

.lib-content {
  margin-left: 10%;
  margin-right: 10%;
}

.sub-banner {
  margin-top: -40px;
  margin-bottom: 20px;
  background: white;
  height: 90px;
  border: 1px solid #cccccc;
  @include border-radius(10px);
  .wrap {
    padding-top: 20px;
  }
  h2 {
    display: inline-block;
    width: 450px;
    font-family: "Microsoft YaHei";
    margin-left: 50px;
  }
  .title-edit {
    display: inline-block;
    width: 450px;
    font-family: "Microsoft YaHei";
    margin-left: 50px;
    margin-top: 15px;
    input {
      width: 300px;
      display: inline-block;
    }
  }
  ul {
    padding-right: 60px;
    float: right;
    li {
      width: 80px;
      float: left;
      list-style-type: none;
      a {
        display: block;
        text-align: center;
      }
      em {
        line-height: 66px;
        font-size: 1.6em;
      }
    }
  }
}

.btn-bottom {
  margin: 10px;
}

#sign {
  .nav-tabs {
    margin-bottom: 15px;
  }
}

.clear-both {
  clear: both;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%; /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

