<p>您好 <%= @resource.email %>！</p>

<p>请点击下面链接重置您的易飞网密码：</p>

<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有发起重置密码的请求，请忽略此邮件。</p>
