= javascript_include_tag "pages/tests-bundle"
= stylesheet_link_tag "pages/tests-bundle", :media => "all"

/ %body
/   #bd1.bd1
/     %img.te1{:src => "assets/photoTest/bd1.png"}
/   #bd2.bd2
/     %img.te2{:src => "assets/photoTest/bd2.png"}
/   #bd3.bd3
/     %img#te3.te3{:src => "assets/photoTest/bd3.png"}
/ :javascript
/    $("#bd3").ready(function() {
/    $( "#bd3" ).effect( "bounce",1800);
/    });
%div#_main_header._main_header
  %div#logo_area.logo_area
    %a.logo{:href =>"http://localhost:3000/school_admin/teachers",:target =>"blank",:tabindex =>"-1"}
      %img#logo_img.logo_img{:src => "assets/teacher-photo/.png"}
  %div#_main_menu._main_menu
    %ul
      %li
        %a{:href =>"http://localhost:3000/teacher/homeworks"} 我的作业
      %li
        %a{:href  =>"http://localhost:3000/studentManage"} 学生管理
      %li
        %a{:href =>"http://localhost:3000/guide"} 新手指南
  %div#main_face.main-face
    %a{:href =>"http://localhost:3000/guide"} wangbenping@163.com
    / %img{:href =>"http://teacher_Photo"}
  / %div#main_face_menu.main_face_menu
  /   %ul
  /     %li
  /       %a{"data-method" => "get", :href => "/school_admin/teachers"} 学校管理员
  /     %li
  /       %a{:href => "/teacher/settings/54606ba4455e01f162000001"} 个人设置
  /     %li
  /       %a{"data-method" => "delete", :href => "/account/sessions/sign_out", :rel => "nofollow"} 退出
%div#vice_header.vice_header
  %div#btn_add.btn_add 
    %div#btn_text.btn_text 新建作业



#main-part
  #left-part
    %ul
      %li
        .folder-node
          .name-node.root
            %b.open
            %i.icon.folder-open
            %span 我的文件夹
          .sub-folder.folder-node
            .name-node
              %b.closed
              %i.icon.folder-closed
              %span 高一数学
          .sub-folder.folder-node
            .name-node.selected
              %b
              %i.icon.folder-closed
              %span 高二数学
          .sub-folder.folder-node
            .name-node
              %b.open
              %i.icon.folder-open
              %span 高三数学
            .sub-folder.folder-node
              .name-node
                %b
                %i.icon.folder-closed
                %span 函数
            .sub-folder.folder-node
              .name-node
                %b
                %i.icon.folder-closed
                %span 立体几何
      %li
        .folder-node
          .name-node.root
            %i.icon.documents
            %span 全部作业
      %li
        .folder-node
          .name-node.root
            %i.icon.recent
            %span 最近使用
      %li
        .folder-node
          .name-node.root
            %b.closed
            %i.icon.workbook
            %span 练习册
      %li
        .folder-node
          .name-node.root
            %i.icon.starred
            %span 已加星标
      %li
        .folder-node
          .name-node.root
            %i.icon.trash
            %span 已删除
  #right-part




