- content_for :app_head do
  = javascript_include_tag "pages/coach/users/expire-bundle"
  = stylesheet_link_tag "pages/coach/users/expire-bundle", :media => "all"

- content_for :app_content do
  .info
    %span 授权已过期，请点击
    = link_to "这里", "javascript:void(0);", { class: "close-page" }
    %span 关闭页面重新进入

