@import 'common';
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "welcome/*.png";


#top-bar {
  padding: 10px 0;
  .logo-image {
    margin-left: 50px;
    background-image: image-url('logo-50.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include inline-block;
    @include size(50px, 50px);
  }
  background: #FAFAFA;
  @include box-shadow(gray 0px 0px 5px);
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px solid #E5E5E5;
  #login-btn-wrapper {
    @include inline-block;
    float: right;
    margin-right: 50px;
    margin-top: 8px;
    .login-btn {
      margin-right: 10px;
    }
  }
}

#logo-wrapper {
  padding-top: 100px;
  #logo-image {
    display: block;
    @include size(118px, 118px);
    background-image: image-url('logo.png');
    margin-left: auto;
    margin-right: auto;
  }
}

#title-wrapper {
  padding-top: 20px;
  text-align: center;
  #title {
    @include inline-block;
    font-size: 2.5em;
  }
}

#desc-wrapper {
  padding-top: 20px;
  text-align: center;
  #desc {
    @include inline-block;
    font-size: 2em;
  }
  padding-bottom: 50px;
}

#teacher-part {
  background: #FAFAFA;
  #teacher-left-part {
    float: left;
    width: 40%;
    ul {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 2em;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      width: 300px;
      li {
        line-height: 60px;
        height: 60px;
      }
    }
  }
  #teacher-right-part {
    width: 60%;
    float: left;
    position: relative;
    #pc {
      float: left;
      margin-left: 70px;
      margin-top: 30px;
      @include size(507px, 350px);
      @include welcome-sprite(pc);
    }
    #pc-screenshots {
      width: 463px;
      position: absolute;
      top: 51px;
      left: 92px;
      overflow: auto;
      li {
        list-style: none;
        list-style-type: none;
        float: left;
      }
      ul {
        list-style: none;
        list-style-type: none;
        padding-left: 0px;
      }
      #pc_pic1 {
        @include size(463px, 262px);
        @include welcome-sprite(pc_pic1);
      }
      #pc_pic2 {
        @include size(463px, 262px);
        @include welcome-sprite(pc_pic2);
      }
      #pc_pic3 {
        @include size(463px, 262px);
        @include welcome-sprite(pc_pic3);
      }
      #pc_pic4 {
        @include size(463px, 262px);
        @include welcome-sprite(pc_pic4);
      }
    }
  }
}

#student-part {
  #student-left-part {
    width: 35%;
    float: left;
    position: relative;
    #mobile {
      float: right;
      margin-right: 80px;
      margin-top: 60px;
      @include size(281px, 556px);
      @include welcome-sprite(mobile);
    }
    #screenshots {
      width: 240px;
      position: absolute;
      top: 124px;
      right: 98px;
      overflow: auto;
      li {
        list-style: none;
        list-style-type: none;
        float: left;
      }
      ul {
        list-style: none;
        list-style-type: none;
        padding-left: 0px;
      }
      #pic1 {
        @include size(240px, 426px);
        @include welcome-sprite(pic1);
      }
      #pic2 {
        @include size(240px, 426px);
        @include welcome-sprite(pic2);
      }
      #pic3 {
        @include size(240px, 426px);
        @include welcome-sprite(pic3);
      }
    }
  }
  .icon {
    @include inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #student-right-part {
    width: 65%;
    float: left;
    #logo-wrapper {
      margin-bottom: 20px;
      #efei-logo {
        @include size(364px, 146px);
        @include welcome-sprite(logo);
      }
    }
    #ios_qr_code {
      background-image: image-url("/qr_code/student_ios_app_url-200.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      @include inline-block;
      @include size(200px, 200px);
    }
    #android_qr_code {
      background-image: image-url("/qr_code/student_android_app_url-200.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      @include inline-block;
      @include size(200px, 200px);
    }
    #spec {
      margin-top: 150px;
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
      font-size: 2em;
    }
    table {
      width: 100%;
      text-align: center;
    }
    #ios-link-wrapper {
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      #ios-link {
        @include size(300px, 65px);
        @include welcome-sprite(ios_btn);
      }
    }
    #android-link-wrapper {
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      #android-link {
        @include size(300px, 65px);
        @include welcome-sprite(android_btn);
      }
    }
  }
}

#bottom-bar {
  margin-top: 50px;
  height: 100px;
  background: #E5E5E5;
  #beian {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #888;
    width: 200px;
    text-align: center;
    padding-top: 30px;
  }
}
