.popup-menu {
  z-index: 99;
  position: absolute;
  height: auto;
  width: 150px;
  background-color: white;
  @include box-shadow(gray 0px 0px 5px);
  border: 1px solid #E5E5E5;
  padding-top: 5px;
  padding-bottom: 5px;
  .item {
    height: 30px;
    span {
      padding-left: 5px;
      line-height: 30px;
    }
    cursor: pointer;
  }
  .item:hover {
    background-color: #F5F5F5;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .popup-icon {
    margin-left: 10px;
    @include size(16px, 16px);
    @include inline-block;
  }
  i.edit {
    @include homeworks-sprite(edit_popup);
  }
  i.upload-homework {
    @include homeworks-sprite(upload_word_popup);
  }
  i.upload-slide {
    @include homeworks-sprite(upload_ppt_popup);
  }
  i.new-homework {
    @include homeworks-sprite(new_homework_popup);
  }
  i.new-folder {
    @include homeworks-sprite(new_folder_popup);
  }
  i.move {
    @include homeworks-sprite(move_popup);
  }
  i.delete {
    @include homeworks-sprite(delete_popup);
  }
  i.stat {
    @include homeworks-sprite(stat_popup);
  }
  i.share {
    @include homeworks-sprite(share_popup);
  }
}
