- content_for :app_head do
  = stylesheet_link_tag "layouts/platform_homework-layout", :media => "all"
  = javascript_include_tag "layouts/platform_homework-layout"
  = yield :head

= render :template => 'layouts/application'
