@import 'common';
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "welcome/*.png";
@import "compass/css3/border-radius";

body {
  min-width: 0px;
  text-align: center;
}

#top-wrapper {
  background-color: #E3E3E3;
}

.stat {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  .em {
    color: red;
    font-size: 1.4em;
  }
}

#top {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  p {
    font-weight: bold;
    text-align: left;
  }
  input {
    width: 100%;
  }
}

#bottom {
  border-bottom: solid 1px #CCC;
  padding-bottom: 20px;
}

.teacher {
  ul {
    text-align: left;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

.teacher-title {
  @include inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  @include border-radius(20px);
  background-color: #FFD02D;
}

.c1 {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.c2 {
  width: 80vw;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  .em {
    color: red;
    font-size: 1.4em;
  }
}

.c3 {
  margin-top: 20px;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #FF592D;
  @include border-radius(20px);
  color: white;
}

.c4 {
  margin-top: 30px;
  text-align: left;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 1.2em;
  li {
    margin-top: 5px;
  }
}

.teacher-intro {
  font-weight: bold;
  margin-top: 20px;
  background-color: #FF5C31;
  color: white;
  width: 80vw;
  @include inline-block;
  @include border-radius(5px);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.c5 {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #CCC;
  span {
    margin-left: 10px;
    color: #00BCBF;
    font-size: 1.3em;
    font-weight: bold;
  }
}
