@import 'common';
@import "compass/css3";

#guide-wrapper {
  padding: 30px 0;
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 200px;
  .title {
    font-size: 24px;
  }
  .sub-title {
    font-size: 18px;
  }
  ul {
    li {
      line-height: 1.6em;
    }
  }
  .guide-tree-li {
    margin-bottom: 10px;
  }

  .guide-sub-tree {
    list-style-type: disc;
    padding-left: 20px;
  }
  a {
    text-decoration: none;
  }
  .para {
    line-height: 1.6em;
    font-size: 14px;
    margin: 0 0 12px;
  }
  .para-list {
    padding-left: 20px;
  }
  .para-sub-list {
    padding-left: 20px;
  }
}