//=require ui/widgets/popup_menu
@import 'utility';
$select_width: 3%;
$question_width: 97%;
$msg_background: #F9EDBE;
$msg_border: #F0C36D;

.border {
  margin: 10px;
  border: 5px solid red;
  height: 200px;
  width: 200px;
}